@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Domine:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Domine:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap");

body {
  @apply font-sans bg-grayLight text-graphite;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease forwards;
}
